{% extends 'homepage.html'%}
{%load static%}
{%block content%}
      <div class="wrapper">
         {%include 'header.html'%}
         <!--header end-->
         {%include 'responsive.html'%}
         <!--responsive-menu end-->
         <section class="pager-section">
            <div class="container">
               <div class="pager-content text-center">
                  <h2>Класстар</h2>
                  <ul>
                     <li><a href="{% url 'index'%}" title="">Башкы бет</a></li>
                     <li><span>Класстар</span></li>
                  </ul>
               </div>
               <!--pager-content end-->
               <h2 class="page-titlee">{{setting.name_site}}</h2>
            </div>
         </section>
         <!--pager-section end-->
         <section class="classes-page">
            <div class="container">
               <div class="classes-banner">
                  <span>ПОПРОБУЙ</span>
                  <h2>Начните инвестировать в себя</h2>
                  <a href="{% url 'index'%}" title="" class="btn-default">Класстар <i class="fa fa-long-arrow-alt-right"></i></a>
               </div>
               <!--classes-banner end-->
               <div class="classes-section">
                  <div class="classes-sec">
                     <div class="row">
                        {%for classes in classes %}
                        <div class="col-lg-3 col-md-6 col-sm-6">
                           <div class="classes-col">
                              <div class="class-thumb"><img src="{{classes.image.url}}" alt="" class="w-100"></div>
                              <div class="class-info">
                                 <h3><a href="class-single.html" title="">{{classes.name}}</a></h3>
                                 <span>{{classes.prod}}</span> <span>{{classes.prod1}}</span>
                                 <div class="d-flex flex-wrap align-items-center">
                                    <div class="posted-by"><img src="{{classes.teacher_image.url}}" width = '50px' alt=""> <a  title="">{{classes.teacher}}</a></div>
                                 </div>
                              </div>
                           </div>
                           <!--classes-col end-->
                        </div>
                        {%endfor%}
                     </div>
                  </div>
                  <!--classes-sec end-->
                  <div class="mdp-pagiation">
                     <nav aria-label="Page navigation example">
                        <ul class="pagination">
                           <li class="page-item"><a class="page-link" href="#">1</a></li>
                           <li class="page-item"><a class="page-link active" href="#">2</a></li>
                           <li class="page-item"><a class="page-link" href="#">3</a></li>
                           <li class="page-item"><a class="page-link" href="#">4</a></li>
                           <li class="page-item"><a class="page-link" href="#">...</a></li>
                           <li class="page-item"><a class="page-link" href="#">15</a></li>
                        </ul>
                     </nav>
                  </div>
                  <!--pagination-end-->
               </div>
            </div>
         </section>
         <!--classes-page end-->
        
         <!--newsletter-sec end-->
         {%include 'footer.html'%}
         <!--footer end-->
{%endblock%}