{%extends 'homepage.html'%}
{%load static%}
{%block content%}
      <div class="wrapper">
         {% include 'header.html'%}

         <!--header end-->
         {%include 'responsive.html'%}
         <!--responsive-menu end-->
         <section class="pager-section">
            <div class="container">
               <div class="pager-content text-center">
                  <h2>{{new.name}}</h2>
                  <ul>
                     <li><a href="{%url 'index'%}" title="">Башкы бет</a></li>

                     <li><a href="{% url 'new_site'%}" title="">Жанылыктар</a></li>
                  </ul>
               </div>
               <!--pager-content end-->
               <h2 class="page-titlee">{{settings.name_site}}</h2>
            </div>
         </section>
         <!--pager-section end-->
         <section class="page-content">
            <div class="container">
               <div class="teacher-single-page">
                  <div class="row">
                     <div class="col-lg-4">
                        <div class="teacher-coly">
                           <img src="{{new.image.url}}" alt="">
                           
                        </div>
                        <!--teacher-coly end-->
                     </div>
                     <div class="col-lg-8">
                        <div class="teacher-content">
                           <h3>{{new.language}}</h3>
                           <div class="row">
                              <div class="col-lg-4 col-md-4 col-sm-6">
                                 <div class="rol-z">
                                    <img src="{%static 'assets/img/ro1d'%}" alt="">
                                    <div class="rol-info">
                                       <span>{{new.created_news}}
                                          
                                       </span>
                                    </div>
                                 </div>
                                 <!--rol-z end-->
                              </div>
                              
                           </div>
                           <div class="tech-detils" >
                              <li>
                                 <span style="text-align:center;">{{new.desc}}  </span>
                              </li>
                             
                           </div>
                           <!--tech-detils end-->
                           
                        </div>
                        <!--teacher-content end-->
                     </div>
                  </div>
               </div>
               <!--teacher-single-page end-->
               
            </div>
         </section>
         <!--page-content end-->
         
         <!--newsletter-sec end-->
         {%include 'footer.html'%}
         <!--footer end-->
{%endblock%}